langchain
langchain-openai
langchain-community
langchain-classic

langgraph
langgraph-checkpoint-redis

uvicorn
fastapi
websockets
starlette
pydantic

fastmcp
langchain-mcp-adapters

faiss-cpu
dotenv

streamlit
streamlit-autorefresh
websocket-client

aiosqlite